@import url('https://fonts.googleapis.com/css2?family=Onest:wght@500&display=swap');

.category {
  text-align: start;
  font-family: 'Onest', sans-serif;
  margin-top: 10px;
}

.cardContainer{
  display: flex;
  flex-direction: row;
}

.categoryContent{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 14px;
  margin-bottom: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.categoryContent::-webkit-scrollbar{
  display: none;
}

.actions{
  width: 95%;
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  transform: translateY(150px);
}

.actions img {
  cursor: pointer;
}

.snapsInline {
  scroll-snap-type: inline mandatory;
}

.snapsInline > * {
  scroll-snap-align: start;
}
