.myCard{
    display: flex;
    flex-direction: column;
    margin-left:16px;
    margin-right:16px;
    border: 1px solid rgba(222, 222, 222, 0.87);
    border-radius: 12px;
    height: fit-content;
}

  .myCard:hover{
    cursor: pointer;
  }

  .preview {
      width: 100%;
      height: 250px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .preview img {
      background-color: black;
      width: 100%;
      height: fit-content;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
  }

  .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 18px;
  }

  .title img {
      width: 24px;
      height: 24px;
      margin-left: 5px;
      margin-top: 2px;
  }

  .details {
      min-width: 445px;
      padding-top: 12px;
      padding-left: 12px;
      padding-right: 12px;
  }

  .description{
      text-wrap: wrap;
      padding-top:5px;
  }

  .footer {
      display: flex;
      flex-direction: row;
      margin: 8px;
  }

  .footer div {
      min-width: 40px;
      padding: 4px 8px;
      margin-left: 3px;
  }

