@import url('https://fonts.googleapis.com/css2?family=Onest:wght@500&display=swap');

.navbar {
    width: 100%;
    position: fixed;
    z-index: 1;
    font-family: 'Onest', sans-serif;
    display:  flex;
    flex-direction: row;
    align-items: center;
    background: white;
}

.logo {
    width: 10%
}

.search {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search input {
    width: 95%;
    outline: none;
}

.search img {
    width: 5%;
    height: 100%;
}

.searchContainer {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
