@import url('https://fonts.googleapis.com/css2?family=Onest:wght@500&display=swap');

.navbar {
    width: 100%;
    display:  flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-between;*/
    justify-content: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.search {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search input {
    width: 95%;
    outline: none;
}

.search img {
    width: 5%;
    height: 100%;
}

.searchContainer {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border: 2px solid red;*/
}

.rightSection{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #535353;
}

.rightSection div:hover {
    color: black;
    font-weight: 400;
}
