.sideNav{
    width: 20%;
    height: 90vh;
    margin-top: 5%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: start;
}

.category{
    font-size: larger;
    width: 100%
}