.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1080px;
}

.pageContent{
  width: 100%;
  margin-top: 50px;
  padding: 24px;
  height: 90vh;
  position: fixed;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.searchBox {
  width: 100%;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: large;
}

.categoriesIcon {
  border: 1px solid #7f7f7f;
    padding: 13px;
  border-radius: 5px;
}

.main {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
}

@media only screen and (max-width: 500px) {
  .searchBox{
    display: flex;
  }
}
